

.container {
  background: var(--bg-primary);
  padding-left: 15%;
  padding-right: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: background-color 0.3s ease;
}
.large-container {
  padding-left: 7%;

}
@media (max-width: 767px) {
  .container {
    padding-left: 2%;
    padding-top: 10px;
  }
  .large-container {
    padding-left: 2%;
  }
}

@media (max-width: 1024px) {
  .container {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
  }
  .large-container {
    padding-left: 2%;
  }
}